.main-table {
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: #FFFFFF;

  &__buttons {
    display: flex;
    padding: .625rem 1rem;
    gap: .5rem;
  }

  &__header {
    border-bottom: 1px solid rgba(171, 171, 172, 0.16);
  }

  &__row {
    display: flex;
    align-items: center;
    padding: .875rem 1.5rem;
    gap: 1rem;
  }

  &__cell {
    display: flex;
    width: 100%;
    max-width: 17.5rem;
    font-size: .875rem;
    color: #263238;

    &_alt {
      justify-content: end;
    }
  }

  &__title {
    color: #2F4C97;
    font-size: .75rem;
    font-weight: 500;
  }

  &__container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .main-table__row:not(:last-child) {
      border-bottom: 1px solid rgba(171, 171, 172, 0.16);
    }

    &::-webkit-scrollbar {
      width: .75rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: .5rem;
      border: .25rem solid #FFFFFF;
      background: #D7E1ED;
    }
  }
}
