input[type='text'] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #BBC5C9;
  border-radius: .25rem;
  font-size: 1rem;

  &:focus,
  &:not(:placeholder-shown) {
    outline: none;

    + label {
      top: -7px;
      font-size: .75rem;
    }
  }

  &:focus {
    border: 1px solid #2F7FD5;

    + label {
      color: #2F7FD5;
    }
  }

  &:not(:focus):not(:placeholder-shown) {
    border: 1px solid #505662;

    + label {
      color: #505662;
    }
  }

  + label {
    position: absolute;
    padding: 0 .375rem;
    top: 1rem;
    left: 1rem;
    color: #BBC5C9;
    background: #FFFFFF;
    transition: all .2s;
  }

  &.ng-touched.ng-invalid{
    border-color: #DA1B1B;

    + label {
      color: #DA1B1B;
    }
   }
}

.input-text {
  position: relative;

  &__failed {
    position: absolute;
    right: 0;
    bottom: -1.125rem;
    font-size: .75rem;

    color: #DA1B1B;
  }
}
