.app {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    background: #E9F3FF;
  }
}

h1 {
  margin: 1rem .75rem 1.625rem;
  color: #2F7FD5;
  font-size: 1.75rem;
}
