.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__body {
    width: 28rem;
    padding: 2.75rem 2.5rem 2.5rem;
    border-radius: 1.25rem;
    background: #FFFFFF;
    z-index: 1;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__form {
    margin: 2.5rem 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__description {
    margin: 1.75rem 0 .75rem;
    min-height: 6rem;
    font-size: 1.125rem
  }

  &__buttons {
    display: flex;
    justify-content: end;
    gap: .25rem;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #263238;
    opacity: 32%;
  }
}
