@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('@styles/checkboxes.scss');
@import url('@styles/text-inputs.scss');
@import url('@styles/buttons.scss');

body {
  margin: 0;
}

*,
*:before {
  box-sizing: border-box;
  font-family: "Roboto";
}

input {
  margin: 0;
}
